ul{
	background: black;
}
ul li{
	display: inline;
}

.newuser{
	width : 32px;
	height : 32px;
}

.logout{
	width : 32px;
	height : 32px;
}

.heading{
	text-align: center;
}

.detail-area{
	width : 800px;
	margin: 0 auto;
	padding: 0;
}

.return{
	text-align: left;
}